node_modules/
dist/
build/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea/
*.iws
*.iml
*.ipr

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Systemowe
.DS_Store
thumbs.db

